/* ////////////////////////////////CSS ATTRIBUTES TO REFERENCE ELEMENTS ON PROJECTS.HTML ////////////////////////////////// */


body{
    background-color: blue;
    box-sizing: border-box;
}


/* scrolls on the y axis(horizontally) for the project area but not the info-section */
.scroll-section {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
    

/* the entire left side of the page. */
.info-section {
    padding: 54px;    
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

/* -----------------------------------------------------------------HAMBURGER MENU BEGINS-----------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.hamburger-menu {
    width: 35px;
    height: 50px;
    position: fixed;
    top: 50px;
    left: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-405deg)  translate(-8px, 14px);
}

/* hides the middle line */
.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -14px);

}


.navbar {
    width: 200px;
    height: 100%;
    background-color: black;
    position: fixed; 
    top: 0;
    left: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 60% 35% 0;
    /* line of code below enables the smooth transition movement on the left side */
    transition: left .8s cubic-bezier(1,0,0,1);    
}

/* Performed in Javascript toggle method. 
When hamburger-icon is clicked the change occurs(oval shape menu) on the left side. */
.change {
    left: 0;
}

.nav-list {
    text-align: right;
    }


    .nav-item {
        list-style: none;
        margin: 25px;
    }

    .nav-link {

        text-decoration: none;
        font-size: 22px;
        color: white;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;

    }

.nav-link::before, .nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: blue;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
    }
    /* top line moves from left to right when hovered over links */
    .nav-link::before {
        top: 0;
        transform-origin: left;
    }

        /* bottom line moves from right to left when hovered over links */
    .nav-link::after {
        bottom: 0;
        transform-origin: right;
        }
       

        .nav-link:hover::before, .nav-link:hover::after {
            transform: scaleX(1);
        }


    /* -----------------------------------------------------------------HAMBURGER MENU ENDS-----------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------- */


/* reference all 5 lines of information at bottom left corner. */
.info-box {
 position: absolute;
bottom: 60px;
font-size: 1.2rem;
font-weight: normal;
margin: 0.7rem 0;
color: white;
line-height: 0.5;

}

.icon-section, a {
    color: white;    
    padding: 0 10px 0 0;
    display: flex;  
   }

   .icon-section, a:hover {
       color: purple;
   }
/* ////////////////////////////////////////////////////project section started////////////////////////////////////////////// */
   /* moves the content area to the right with a width of 65% long with a white background color. */
h1 {
    text-align: center;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

   .project-section {
   
    box-sizing: border-box;
    width: 80%;
    margin-left: 25%;
    background-color: white;
    height: 100%;    
}

/* images are displayed using a grid template for better control and organization */
.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
  }

.project-box {
    position: relative;
    cursor: pointer;
    height: 250px;
    width: 350px;
    padding: 80px 60px;   
  
}

.project p {    
color: red;
text-align: center;

}

.grey-bg {
    background-color: gray;   
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

}

/* when we hover over the grey background, the project details is gonna go to position 0, which is the regular location for it*/
.grey-bg:hover {
      opacity: 5;
}


.project-info {
    position: absolute;
    bottom: 0;
    padding: 56px;
}

.project-details {
    background-color: white;
    color: red;
    padding: 0.8rem;
   font-size: 0.8rem;
   font-weight: bold;
   text-transform: capitalize;
   margin-bottom: 4.5rem;
   line-height: 1.5rem;
   transform: translate3d(0, 0, 0);
 
}


/*----------------------------------------RESPONSIVE PROPERTIES START HERE------------------------------------------------------------
    ----------------------------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------------------------
*/

 /* mobile phone turned vertically */
 
/*Mobile Phones*/ 
@media (max-width: 767px) {

    .scroll-section {
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
        

    body, html {
        background-color: white;
    }

    .hamburger-menu {
        left: 20px;
    }
    
    .line {
        width: 100%;
        height: 3px;
        background-color: blue;
        transition: all 0.8s;            
    }

    .navbar {
        width: 90px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 10px;
        color: white;
        font-weight: 100;
    }

    .project-box {
        width: 70%;
       padding: 90px 40px;  
        }

    /* reference all 5 lines of information at bottom left corner. */
    .info-box {
    display: none;    
    }

    .project-container {
        display: contents;
      }      
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 1300px) {

    .scroll-section {
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

     
        /*----------------------------------------------- the hamburger-menu -------------------------------------------------*/
        
        .hamburger-menu {
            left: 20px;
        }
        
        .line {
            width: 100%;
            height: 3px;
            background-color: white;
            transition: all 0.8s;            
        }

        .navbar {
            width: 100px;
        }

        .nav-link {
            text-decoration: none;
            font-size: 10px;
            color: white;
            font-weight: 100;
        }
/* ----------------------------------------------------------------------END OF HAMBURGER MENU------------------------------------------------- */
                 
        

    /* reference all 5 lines of information at bottom left corner. */
    .info-box {
    display: none;    
    }

    .project-container {
        display: contents;
      }

      .project-box {
        height: 150px;
        width: 200px;
        padding-left: 50%;
        padding-bottom: 40%;        
        }

}


/* laptops and small desktops  */
@media (min-width: 1301px) and (max-width: 1600px) {

}


/* large desktops */
@media (min-width: 1601px) and (max-width: 3000px) {

}

